<div class="home--treat">
  <div class="treatments">
    <h1>Trattamenti</h1>
    <div class="treatments--content">
      <app-treatments-card [nameCard]="buttonName1"></app-treatments-card>
      <app-treatments-card [nameCard]="buttonName2"></app-treatments-card>
      <app-treatments-card [nameCard]="buttonName3"></app-treatments-card>
    </div>
    <div class="treatments--content">
      <app-treatments-card [nameCard]="buttonName4"></app-treatments-card>
      <app-treatments-card [nameCard]="buttonName5"></app-treatments-card>
      <app-treatments-card [nameCard]="buttonName6"></app-treatments-card>
    </div>
    <div class="treatments--content">
      <app-treatments-card [nameCard]="buttonName7"></app-treatments-card>
      <app-treatments-card [nameCard]="buttonName8"></app-treatments-card>
    </div>
  </div>
</div>
