<div class="treatment">
  <div class="intro">
    <div class="trt-btn-back">
      <a href="/trattamenti"> <i class="bi bi-arrow-left-short"></i>Trattamenti</a>
    </div>
    <div class="trt--content">
      <div class="intro--title">
        <h1>CHIRURGIA ORALE</h1>
      </div>
      <div class="intro--image">
        <img src="assets/forBuild/chirurgia-1-copertina.jpg" alt="foto di copertina">
      </div>
    </div>
    <div class="trt--description">
      <p>
        La <b>chirurgia orale</b> è una branca dell'odontoiatria che si occupa di interventi chirurgici all'interno del cavo
        orale. Questi interventi possono essere necessari in diverse situazioni come:</p>
      <ul>
        <li><b>Estrazione dei denti del giudizio:</b> spesso questi denti causano dolore perché crescono in posizioni
          sbagliate.
        <li><b>Taglio dei frenuli:</b> nei bambini i frenuli troppo corti possono interferire con l'allineamento dei denti o
          con la corretta pronuncia delle parole e quindi necessitano di essere tagliati.
        </li>
        <li><b>Rimozione di cisti ossee:</b> alcune cisti possono formarsi all'interno dell'osso in modo patologico e devono
          essere rimosse.
        </li>
      </ul>
      <p>
        Presso il nostro studio la <b>Dott.ssa Erika Figini</b> esegue vari tipi di interventi chirurgici orali tra cui:</p>
      <ul>
        <li>Estrazione dei denti del giudizio e di denti inclusi.</li>
        <li>Rimozione di cisti ossee (exeresi di cisti endossee).</li>
        <li>Frenulectomie (taglio del frenulo).</li>
        <li>Ricostruzioni ossee a scopo pre-implantologico come rialzi del seno mascellare e rigenerazioni della cresta ossea.</li>
        <li>Chirurgia sui tessuti molli.</li>
      </ul>
    </div>
  </div>
</div>
