<div class="treatment">
  <div class="intro">
    <div class="trt-btn-back">
      <a href="/trattamenti"> <i class="bi bi-arrow-left-short"></i>Trattamenti</a>
    </div>
    <div class="trt--content">
      <div class="intro--title">
        <h1>Ortodonzia</h1>
      </div>
      <div class="intro--image">
        <img src="assets/forBuild/ortod-1-vis.jpg" alt="foto di copertina">
      </div>
    </div>
    <div class="trt--description">
      <p>
        L’<b>ortodonzia</b> è quella branca dell’odontoiatria che si occupa
        dell’allineamento degli elementi dentari qualora risultassero
        malposizionati.</p>
      <p>
        Nello Studio Odontoiatrico Figini la <b>Dott.ssa Elisa Capasso</b> si occupa di intercettare anomalie di
        posizione scheletriche e dentarie trattandole con tecniche tradizionali
        di ortodonzia fissa, ortodonzia funzionale oppure ortodonzie ad allinatori invisibili.</p>
      <p>
        <b>L’apparecchio fisso</b> con brackets metallici consente di trattare tutte
        le malocclusioni dentarie tramite utilizzo di bottoni e fili metallici.</p>
      <div class="trt--extra--images">
        <div class="trt--card">
          <img src="assets/forBuild/ortod-1-cop.jpg" alt="foto con fili metallici">
        </div>
      </div>
      <p>
        L’<b>apparecchio invisibile</b> è un apparecchio ortodontico a tutti gli
        effetti tuttavia si distingue dal tradizionale apparecchio fisso
        metallico per trasparenza e comfort.
      </p>
      <div class="trt--extra--images">
        <div class="trt--card">
          <img src="assets/forBuild/ortod-2-inv.jpg" alt="foto con mascherina invisibile">
        </div>
      </div>
      <p>
        L’<b>ortodonzia invisibile</b> consente il trattamento di una buona parte di
        malocclusioni sia nel bambino che nell’adulto, avvalendosi di una
        serie di <b>mascherine trasparenti</b>(come allineatori). Tali mascherine se indossate in
        sequenza permettono ai denti di muoversi sino a raggiungere la
        posizione progettata in maniera digitale e personalizzata.
      </p>
      <p>Durante la prima e la seconda Visita il Team dell Studio Figini la <b>Dott.ssa Elisa Capasso</b> esarà in
        grado di fornire previsualizzazioni del risultato finale.</p>
      <p>Sarà il Team dello Studio in accordo con il paziente a decidere in seguito quale
        metodologia seguire se tradizionale od invisibile.</p>
    </div>
  </div>
</div>
