<div class="navbar">
  <div class="navbar__content" [class.navbar--scrolled]="isScrolled">
    <a href="#" class="navbar__logo">
      <img class="logo" alt="logo" src="assets/forBuild/logo.png">
    </a>
    <ul class="navbar__menu">
      <li><a class="menu__opt--1" href="studio">Lo Studio</a></li>
      <li><a class="menu__opt--2" href="trattamenti">Trattamenti</a></li>
      <li><a class="menu__opt--3 special" href="#contatti">Contatti</a></li>
    </ul>
    <div class="navbar__hamburger">
      <span></span>
      <span></span>
    </div>
  </div>
</div>
