<div class="treatment">
  <div class="intro">
    <div class="trt-btn-back">
      <a href="/trattamenti"> <i class="bi bi-arrow-left-short"></i>Trattamenti</a>
    </div>
    <div class="trt--content">
      <div class="intro--title">
        <h1>Pedodonzia</h1>
      </div>
      <div class="intro--image">
        <img src="assets/forBuild/pedo-1-copertina.JPG" alt="foto di copertina">
      </div>
    </div>
    <div class="trt--description">
      <p>
        La <b>pedodonzia</b> è la branca dell’odontoiatria che si dedica alla cura del sorriso dei bambini. I denti da latte
        necessitano della stessa attenzione e cura dei denti permanenti degli adulti. È fondamentale mantenerli sani per
        garantire una corretta funzione masticatoria, per favorire la crescita dei denti permanenti, per supportare lo sviluppo
        delle arcate dentali e facilitare un corretto sviluppo del linguaggio.</p>
      <p>
        Nel nostro studio i dentisti specializzati forniscono ai genitori indicazioni alimentari utili per prevenire
        carie e problemi gengivali. Inoltre la <b>Dott.ssa Lara Figini</b> educano i genitori su come correggere abitudini poco salutari come l'uso
        prolungato del ciuccio oltre i tempi consigliati. Gli specialisti sono anche in grado di intercettare problemi
        di deglutizione atipica e postura linguale, individuare e correggere anomalie nello sviluppo e nella posizione
        dei denti e trattare efficacemente le carie.
      </p>
      <p>Le terapie dentali per i bambini richiedono un forte rapporto di fiducia tra il piccolo paziente e il dentista.
        Per questo motivo le prime visite sono dedicate a preparare i bambini aiutandoli a capire l'importanza delle
        cure dentali e a costruire una relazione di fiducia. Questo approccio consente ai bambini di affrontare le
        sedute dentistiche con serenità e senza paura.</p>
    </div>
    <div class="trt--extra--images">
      <div class="trt--card">
        <img src="assets/forBuild/pedo-3.jpg" alt="foto di confronto">
        <p>Per tutti i bambini che vengono a trovarci in omaggio un topino dei denti!</p>
      </div>
    </div>
  </div>
</div>
