<div class="treatment">
  <div class="intro">
    <div class="trt-btn-back">
      <a href="/trattamenti"> <i class="bi bi-arrow-left-short"></i>Trattamenti</a>
    </div>
    <div class="trt--content">
      <div class="intro--title">
        <h1>Igiene e Profilassi</h1>
      </div>
      <div class="intro--image">
        <img src="assets/forBuild/igiene-1-copertina.jpg" alt="foto di copertina">
      </div>
    </div>
    <div class="trt--description">
      <p>
        <b>L'igiene dentale</b>, o ablazione del tartaro, è il punto di partenza per tutte le altre cure dentistiche. È
        fondamentale sottoporsi a sedute di igiene dentale professionale regolarmente, di solito 2-3 volte l'anno. In
        alcuni casi, però, può essere sufficiente anche una sola seduta: sarà il dentista a valutare la frequenza più
        adatta a ciascun paziente.</p>
      <p>
        <b>L'ablazione del tartaro</b> non è solo una semplice pulizia, ma rappresenta anche un trattamento preventivo
        fondamentale per mantenere una buona salute orale. Questo trattamento prevede la rimozione meccanica del tartaro
        e della placca attraverso strumenti specifici, come quelli manuali, ultrasonici e con polveri.
      </p>
      <p>
        A seconda della salute delle gengive, il dentista potrà eseguire una semplice ablazione o, se necessario,
        interventi più approfonditi come il courettage radicolare, soprattutto se i sondaggi parodontali rivelano la
        presenza di tasche gengivali.</p>
    </div>
    <div class="trt--extra--images">
      <div class="trt--card">
        <img src="assets/forBuild/igiene-2.jpg" alt="foto di confronto">
        <p>Prima</p>
      </div>
      <div class="trt--card">
        <img src="assets/forBuild/igiene-3.jpg" alt="foto di confronto">
        <p>Dopo</p>
      </div>
    </div>
  </div>
</div>
