<div class="treatment">
  <div class="intro">
    <div class="trt-btn-back">
      <a href="/trattamenti"> <i class="bi bi-arrow-left-short"></i>Trattamenti</a>
    </div>
    <div class="trt--content">
      <div class="intro--title">
        <h1>Implantologia</h1>
      </div>
      <div class="intro--image">
        <img src="assets/forBuild/implanto-1-copertina.jpg" alt="foto di copertina">
      </div>
    </div>
    <div class="trt--description">
      <p>
        <b>L'implantologia</b> è una specializzazione odontoiatrica che ci offre una soluzione quando mancano uno o più
        denti. In passato, fino agli anni '60 e '70, i nostri nonni dovevano accontentarsi di protesi mobili che si
        rimuovevano dalla bocca e si appoggiavano semplicemente sulle gengive. Oggi, grazie agli impianti dentali,
        abbiamo una soluzione più stabile e confortevole.
        <br>
        Gli impianti dentali sono delle viti autofilettanti in titanio, con una superficie trattata appositamente, che
        vengono inserite nell'osso mascellare o mandibolare. Queste viti servono a sostituire la radice del dente
        mancante e
        fungono da base solida per il nuovo dente, offrendo una soluzione duratura e naturale.</p>
      <p>
        Nel nostro studio, la <b>Dottoressa Erika Figini adotta</b> diverse tecniche per l'inserimento degli impianti.
        Nei casi
        più semplici può utilizzare una tecnica tradizionale con guide protesiche. Per i casi più complessi che
        richiedono un risultato estetico e funzionale di alto livello si affida alla chirurgia computer-assistita o
        guidata.
      </p>
      <p>Grazie a <b>software diagnostici avanzati</b> e ad esami radiologici mirati possiamo progettare il
        posizionamento
        degli impianti in modo molto preciso. Questi strumenti digitali ci permettono di simulare la posizione degli
        impianti e di creare una guida chirurgica in 3D che assiste il chirurgo nell'inserimento esatto degli impianti
        garantendo il massimo risultato estetico e funzionale.</p>
      <p>Per prendere le <b>impronte dei denti</b> utilizziamo le più moderne tecnologie digitali. Le impronte digitali
        ottiche ottenute con uno scanner digitale permettono di trasferire tutte le informazioni necessarie al
        laboratorio odontotecnico per realizzare i nuovi denti in modo preciso e personalizzato.</p>
    </div>
    <div class="trt--extra--images">
      <div class="trt--card">
        <img src="assets/forBuild/implanto-3-scanner.jpg" alt="foto di confronto">
        <p>Il nostro scanner</p>
      </div>
      <div class="trt--card">
        <img src="assets/forBuild/implanto-2-esempio.jpg" alt="foto di confronto">
        <p>Il progetto digitale</p>
      </div>
    </div>
  </div>
</div>
