.home{
  display: flex;  /* Utilizza Flexbox per centrare il contenuto */
  justify-content: center;  /* Centra il contenuto orizzontalmente */
  align-items: center;  /* Centra il contenuto verticalmente */
  flex-direction: column;
  gap:2rem;
}

.home--intro{
  width: 100%;
  max-width: 1200px;
  margin:1rem;
}

.home--team{
  width: 100%;
  max-width: 1200px;
  margin:1rem;
}

.home-treatments{
  width: 100%;
  padding-top: 10rem;
  max-width: 1200px;
  margin:1rem;
}

.contacts{
  width: 100%;
  max-width: 1200px;
  padding-top: 10rem;
  margin:1rem;
}

