<div class="treatment">
  <div class="intro">
    <div class="trt-btn-back">
      <a href="/trattamenti"> <i class="bi bi-arrow-left-short"></i>Trattamenti</a>
    </div>
    <div class="trt--content">
      <div class="intro--title">
        <h1>ENDODONZIA E ODONTOIATRIA CONSERVATIVA</h1>
      </div>
      <div class="intro--image">
        <img src="assets/forBuild/endon-1.JPG" alt="foto di copertina">
      </div>
    </div>
    <div class="trt--description">
      <p>
        L'odontoiatria conservativa ed endodonzia sono due branche dell'odontoiatria che si occupano di
        preservare e curare la salute dei denti.</p>
      <p>
        <b>Odontoiatria conservativa:</b> si concentra sul ripristino del volume del dente danneggiato dalla carie, in modo da
        preservarne la struttura il più possibile. I trattamenti conservativi possono includere:
      </p>
      <ul>
        <li><b>Restauri diretti:</b> come le otturazioni che vengono realizzate direttamente in studio.</li>
        <li><b>Restauri indiretti:</b> come gli intarsi che vengono parzialmente realizzati in laboratorio odontotecnico e poi
          applicati in studio.
        </li>
      </ul>
      <p>
        <b>Endodonzia:</b> si occupa del trattamento dei canali radicolari quando una carie profonda ha causato un danno
        irreversibile alla polpa dentale. Il dolore che ne deriva può essere trattato con metodi conservativi. </p>
      <p>I trattamenti endodontici includono:</p>
      <ul>
        <li><b>Trattamento ortogrado (devitalizzazione o terapia canalare):</b> utilizzato per rimuovere la polpa infetta o
          danneggiata da un dente con pulpite irreversibile.
        </li>
        <li><b>Trattamento retrogrado chirurgico (apicectomia):</b> nei casi in cui le lesioni periapicali non guariscono con
          la devitalizzazione, si può ricorrere alla chirurgia. L'apicectomia comporta la rimozione della lesione e di
          una piccola parte dell'apice della radice, seguita da un sigillo retrogrado per salvare il dente ed evitare
          l'estrazione.
        </li>
      </ul>
    </div>
  </div>
</div>
