<div class="intro">
  <div class="intro--content">
    <div class="intro--title">
      <h1>Il <b>sorriso</b> è l’opinione che abbiamo di noi stessi</h1>
    </div>
    <div class="intro--image">
      <img src="assets/forBuild/copertina.jpg" alt="foto di copertina">
    </div>
  </div>
  <div class="intro--text--title">
    <h2>Studio <i>Dentistico Odontoiatrico</i> con sede a Milano</h2>
  </div>
  <div class="intro--text--description">
    <p>
      Il Nostro punto focale è il Paziente e il Suo Sorriso.
      Nel fare questo ci poniamo tre obiettivi:</p>
    <ul>
      <li>Il <b>primo</b> è comunicare quanto sia importante preservare la salute del <i>Vostro Sorriso</i>.</li>
      <li>Il <b>secondo</b> e’ intercettare i segni di patologia nel <i>Vostro Sorriso</i> che possono comprometterne la salute.</li>
      <li>Il <b>terzo</b> è dedicarci alla cura del <i>Vostro Sorriso</i> utilizzando le più affidabili, indolori, moderne tecnologie.
      </li>
    </ul>
    <p>Ad oggi è possibile curare senza dolore e senza stress emotivo.</p>
    <p>I nostri pazienti sorridono anche nel nostro studio!</p>
  </div>
</div>
