<div class="intro-team">
  <div class="intro--content">
    <div class="intro--image">
      <img src="assets/galleryStudio/studio.jpg" alt="foto della squadra">
    </div>
    <div class="intro--title">
      <h1>La nostra <b>Squadra</b></h1>
    </div>
  </div>
  <div class="intro--text--description">
    <p>
      Il nostro staff è sempre pronto ad ascoltare e affrontare le esigenze dei pazienti con attenzione, etica e
      professionalità.
      <br>
      <br>
      Ci focalizziamo sulla persona nella sua interezza, considerando non solo la patologia, ma anche il benessere
      generale, con un impegno particolare a ridurre il dolore sia prima sia dopo l'intervento.</p>
  </div>
  <app-button-link [nameButton]="nameLink"></app-button-link>
</div>
