<div class="treatment">
  <div class="intro">
    <div class="trt-btn-back">
      <a href="/trattamenti"> <i class="bi bi-arrow-left-short"></i>Trattamenti</a>
    </div>
    <div class="trt--content">
      <div class="intro--title">
        <h1>Protesi</h1>
      </div>
      <div class="intro--image">
        <img src="assets/forBuild/protesi-7-copertina.jpg" alt="foto di copertina">
      </div>
    </div>
    <div class="trt--description">
      <p>
        La <b>protesi dentale</b> è una branca dell’odontoiatria che si occupa di ripristinare la funzione masticatoria
        e l'estetica del sorriso del paziente attraverso diversi tipi di trattamenti:</p>
      <ul>
        <li>Corone protesiche</li>
        <li>Faccette</li>
        <li>Intarsi</li>
        <li>Protesi mobili: dentiere, scheletrati o protesi rimovibili ad ancoraggio dentario.</li>
      </ul>
      <hr>
      <p>
        <b>Corone Protesiche:</b>
        quando un dente è gravemente danneggiato a causa di una carie o di una frattura potrebbe essere necessario
        ricorrere a una corona protesica per ripristinarne la robustezza. La corona protesica è un rivestimento che
        copre completamente il dente replicando in modo accurato l'anatomia del dente naturale per restituirne sia
        l'estetica sia la funzionalità originaria.
      </p>
      <div class="trt--extra--images">
        <div class="trt--card">
          <img src="assets/forBuild/protesi-1-corone-1.jpg" alt="foto di confronto">
        </div>
        <div class="trt--card">
          <img src="assets/forBuild/protesi-2-corone-2.jpg" alt="foto di confronto">
        </div>
      </div>
      <hr>

      <p>
        <b>Faccette:</b>
        le faccette sono sottili rivestimenti simili a lenti a contatto che vengono applicati sulla superficie
        anteriore dei denti per migliorarne il colore, forma e l'aspetto generale. Vengono utilizzate tecniche
        conservative per preparare i denti; le faccette realizzate con materiali innovativi offrono un aspetto
        traslucido e naturale.
      </p>
      <div class="trt--extra--images">
        <div class="trt--card">
          <img src="assets/forBuild/protesi-3-faccette-1-prima.jpg" alt="foto di confronto">
          <p>Prima</p>
        </div>
        <div class="trt--card">
          <img src="assets/forBuild/protesi-4-faccette-2-dopo.jpg" alt="foto di confronto">
          <p>Dopo</p>
        </div>
      </div>
      <hr>

      <p>
        <b>Intarsi:</b>
        gli intarsi sono ricostruzioni parziali di un elemento dentario che per ragioni di carie ha perso la sua
        struttura originaria. Sono otturazioni a superficie ampia che vengono però realizzate in laboratorio o tramite
        macchinari deputati dopo aver preso delle impronte analogiche o digitali. Gli intearsi vengono quindi modellati
        secondo corretta linea masticatoria ed estetica e cementati con tecniche adesive di ultima generazione. Gli
        intarsi servono a ripristinare integralmente l'anatomia di un dente compromesso dalla carie.
      </p>
      <div class="trt--extra--images">
        <div class="trt--card">
          <img src="assets/forBuild/protesi-5-intarsi.JPG" alt="foto di confronto">
        </div>
      </div>
      <hr>

      <p>
        <b>Protesi Mobili Totali e Parziali:</b>
        Le protesi mobili come le dentiere e gli scheletrati rappresentano soluzioni economiche e semplici per il
        ripristino dei denti mancanti. Queste protesi possono essere rimosse dalla bocca per la pulizia e possono
        appoggiarsi direttamente sulle gengive o essere ancorate a denti residui. Pur offrendo una funzionalità
        masticatoria completa la loro efficienza può essere inferiore rispetto ad altre soluzioni protesiche più
        fisse.</p>
      <div class="trt--extra--images">
        <div class="trt--card">
          <img src="assets/forBuild/protesi-6-protesi.jpg" alt="foto di confronto">
        </div>
      </div>
    </div>
  </div>
</div>
