<div class="home-team">
  <div class="intro">
    <div class="intro--content">
      <div class="intro--title">
        <h1>Il <b>sorriso</b> è l’opinione che abbiamo di noi stessi</h1>
      </div>
      <div class="intro--image">
        <img src="assets/galleryStudio/studio.jpg" alt="foto di copertina">
      </div>
    </div>
    <div class="intro--text--description">
      <p>
        Il nostro team è sempre disponibile ad accogliere e gestire le necessità dei pazienti con cura, integrità e competenza.</p>
    </div>
  </div>
  <div class="corpus-membri">
    <app-team-card [nameCard]="'Figini Lara'"></app-team-card>
    <app-team-card [nameCard]="'Figini Erika'"></app-team-card>
  </div>
  <div class="corpus-membri">
    <app-team-card [nameCard]="'ASO Andrea'"></app-team-card>
    <app-team-card [nameCard]="'ASO Barbara'"></app-team-card>
  </div>
  <div class="corpus-membri">
    <app-team-card [nameCard]="'Capasso Elisa'"></app-team-card>
    <app-team-card [nameCard]="'Figini Mario'"></app-team-card>
  </div>
</div>
