<!-- <div class="banner-special">
  <div class="banner&#45;&#45;content">
    <p>Informiamo la gentile clientela che lo studio resterà chiuso per il periodo natalizio:</p>
    <p><b>Dal 20 dicembre 2025 al 6 gennaio 2026.</b></p>
    <p>Auguriamo a tutti Buone Feste!</p>
  </div>
</div> -->


<div class="banner-bs">
  <div class="banner-desktop">
    <div class="banner--content container-fluid d-flex justify-content-between">
      <p><a class="banner-link" href="https://maps.app.goo.gl/rj1oXoJt8aBKVHfw5"><i class="bi bi-geo-alt me-3"></i>Piazzale
        Aquileia 6, 20144, Milano (MI) </a></p>
      <p><a class="banner-link" href="#contatti"><i class="bi bi-clock me-3"></i>I nostri orari</a></p>
      <p><a class="banner-tel" href="mailto:erikafigini@yahoo.it;lara.figini@libero.it"><i class="bi bi-send me-3"></i>Contattaci!</a>
      </p>
    </div>
  </div>
  <div class="banner-phone">
    <div class="banner--content container-fluid d-flex justify-content-between">
      <p><a class="banner-link" href="https://maps.app.goo.gl/rj1oXoJt8aBKVHfw5"><i class="bi bi-geo-alt me-3"></i>Piazzale
        Aquileia 6, Milano </a></p>
      <p><a class="banner-tel" href="tel:+390248018847"><i class="bi bi-telephone me-3"></i>Chiamaci!</a></p>
    </div>
  </div>
</div>
