.tcard {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  border-radius: 5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Aggiungi ombra */
  padding: 2rem;
  width: 100%;
  max-width: 350px; /* Imposta un massimo per la card */
  height: 100%;
  background-color: var(--white);
  transition: box-shadow 0.3s ease;
}

.tcard:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Aumenta l'ombra al passaggio del mouse */
}

/* Sezione immagine con proporzioni 1:1 */
.tcard .tcard--image {
  width: 100%;
  aspect-ratio: 1; /* Mantiene proporzione 1:1 per l'immagine */
  overflow: hidden;
  border-radius: 3rem;
}

.tcard .tcard--image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Assicura che l'immagine copra il contenitore senza distorsioni */
  border-radius: inherit;
}

/* Stile del titolo */
.tcard .tcard--title {
  color: var(--black);
  text-transform: capitalize;
  font-size: 2.5rem; /* Font size dinamico */
  font-family: "ZTGatha", sans-serif;
  line-height: 2.5rem;
  padding: 0 1rem;
  word-wrap: break-word; /* Impedisce al testo di uscire dal contenitore */
}


.tcard a{
  color: var(--third-blue);
}

.tcard a:hover{
  color: var(--pink-utils)
}
