<div class="footer--links">
  <div class="logo">
    <img src="assets/forBuild/logo.png" alt="Logo Studio Odontoiatrico">
  </div>
  <label></label>
  <div class="links">
    <div class="links--pages">
      <h3>Pagine:</h3>
      <p><a href="">Home</a></p>
      <p><a href="trattamenti">Trattamenti</a></p>
      <p><a href="studio">Studio</a></p>
      <p><a href="#contacts">Contatti</a></p>
      <hr>
      <h4>Trattamenti:</h4>
      <p><a href="trattamenti/igieneEprofilassi">Igiene e Profilassi</a></p>
      <p><a href="trattamenti/chirugiaOrale">Chirurgia Orale</a></p>
      <p><a href="trattamenti/endodonzia">Endodonzia</a></p>
      <p><a href="trattamenti/implantologia">Implantologia</a></p>
      <p><a href="trattamenti/paradontologia">Paradontologia</a></p>
      <p><a href="trattamenti/pedodonzia">Pedodonzia</a></p>
      <p><a href="trattamenti/protesi">Protesi</a></p>
      <p><a href="trattamenti/ortodonzia">Ortodonzia</a></p>
    </div>
    <div class="links--contacts">
      <h3>Contatti:</h3>
      <p><a href="tel:+0248018847">+02 48018847</a></p>
      <p>
        <a href="https://www.google.com/maps?q=Piazzale+Aquileia+6,+20144,+Milano+(Italia)" target="_blank">
          Piazzale Aquileia 6, 20144,<br> Milano (Italia)
        </a>
      </p>
      <p><a href="mailto:lara.figini@libero.it">lara.figini@libero.it</a></p>
      <p><a href="mailto:erikafigini@yahoo.it">erikafigini@yahoo.it</a></p>
      <p>P.IVA: 12732140152</p>
    </div>

  </div>
  <label></label>
  <p>Questo sito è conforme alle linee guida sulla pubblicità sanitaria ai sensi del D.Lgs. 70/2003.</p>
</div>
