<div class="treatment">
  <div class="intro">
    <div class="trt-btn-back">
      <a href="/trattamenti"> <i class="bi bi-arrow-left-short"></i>Trattamenti</a>
    </div>
    <div class="trt--content">
      <div class="intro--title">
        <h1>Parodontologia</h1>
      </div>
      <div class="intro--image">
        <img src="assets/forBuild/parodon-1.jpg" alt="foto di copertina">
      </div>
    </div>
    <div class="trt--description">
      <p>
        La <b>parodontologia</b> è una specializzazione dell'odontoiatria che si occupa di mantenere e ripristinare la
        salute
        delle gengive e del tessuto parodontale che comprende sia il tessuto osseo che gengivale.</p>
      <p>
        Se le gengive sono gonfie e sanguinano spesso è importante rivolgersi a uno specialista che effettuerà un
        sondaggio delle gengive e radiografie specifiche per definire la strategia di trattamento più adeguata.
      </p>
      <p>Il nostro studio offre una serie di trattamenti parodontali per mantenere e migliorare la salute delle gengive
        e del tessuto parodontale:</p>
      <ul>
        <li><b>Ablazione del tartaro:</b> rimozione del tartaro accumulato sui denti e sotto le gengive.</li>
        <li><b>Levigature o courettage radicolari:</b> pulizia approfondita delle radici dei denti per rimuovere la
          placca e il tartaro che si accumulano sotto le gengive.
        </li>
        <li><b>Chirurgia parodontale resettiva e rigenerativa:</b> interventi chirurgici per rimuovere il tessuto
          danneggiato o rigenerare il tessuto parodontale.
        </li>
        <li><b>Chirurgia mucogengivale:</b> trattamenti specifici per correggere le recessioni gengivali e migliorare
          l'aspetto estetico e la salute delle gengive.
        </li>
      </ul>
    </div>
  </div>
</div>
